<h1 id="titulo">AÑADIR ARTISTA</h1>


<div id="principal" class="animated fadeIn fast">
    <div id="formulario">
        <form [formGroup]="formulario">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre artístico</mat-label>
                    <input matInput formControlName="nombreartistico">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre de nacimiento</mat-label>
                    <textarea matInput formControlName="nombrenacimiento"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Imagen</mat-label>
                    <input matInput formControlName="imagen">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput formControlName="fechanacimiento">
                </mat-form-field>
            </div>
            <div> 
                <mat-form-field appearance="fill">
                    <mat-label>Edad</mat-label>
                    <textarea matInput formControlName="edad"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Sexo</mat-label>
                    <input matInput formControlName="sexo">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nacionalidad</mat-label>
                    <input matInput formControlName="nacionalidad">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Detalles</mat-label>
                    <textarea matInput formControlName="detalles" rows="12"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="crearArtista()">Crear</button>
            </div>
        </form>
    </div>
</div>