<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="logo-titulo">
        <a class="navbar-brand">WIKIRAP</a>
    </div>
    <div class="enlaces">
        <a routerLink="/inicio">Inicio</a>
        &nbsp;
        <a routerLink="/artistas">Lista de artistas</a>
        &nbsp;
        <a routerLink="/discos">Lista discos</a>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Añadir</button>
        <div class="dropdown-content">
          <a routerLink="/formDisco" routerLinkActive="active">Nuevo disco</a>
          <a routerLink="/formArtista" routerLinkActive="active" >Nuevo artista</a>
        </div>
      </div>
</nav>
   

   