<div class="card flex-wrap" style="width: 20rem;">

    <div class="imagen-disco">
        <img class="card-img-top" [src]="discos.portada" alt="Portada del disco" 
        width="960" height="640">
    </div>

    <div class="card-body pl">
        <h5 class="card-title">{{discos.titulo}}</h5>
        <p class="card-text"><strong>Autor/a:</strong> {{discos.autor}}</p>
        <p class="card-text"><strong>Duración:</strong> {{discos.duracion}}</p>
        <p class="card-text"><strong>Fecha de salida:</strong> {{discos.fechaSalida}}</p>
        <!-- <a class="btn btn-primary" [routerLink]="['/discos' , discos.id, discos.portada, discos.titulo, discos.autor, discos.duracion, discos.fechaSalida]">Ver más</a>  -->
    </div>
</div>
<router-outlet></router-outlet>