<h1 id="titulo">AÑADIR DISCO</h1>

<div id="principal" class="animated fadeIn fast">
    <div id="formulario">
        <form [formGroup]="formulario">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Portada</mat-label>
                    <input matInput formControlName="portada">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <textarea matInput formControlName="titulo"></textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Autor/a</mat-label>
                    <input matInput formControlName="autor">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Duración del disco</mat-label>
                    <input matInput formControlName="duracion">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Fecha de salida</mat-label>
                    <textarea matInput formControlName="fechaSalida"></textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="crearDisco()">Crear</button>
            </div>
        </form>
    </div>
</div>